
<mat-menu #appMenu="matMenu">
  <a mat-menu-item routerLink="/books"><span class="nav-caption">Books</span></a>
  <a mat-menu-item routerLink="/book"><span class="nav-caption">Add book</span></a>
  <a mat-menu-item routerLink="/searchbook"><span class="nav-caption">Search book</span></a>
  <a mat-menu-item routerLink="/testpdf"><span class="nav-caption">Test PDF</span></a>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<router-outlet></router-outlet>
<app-messages></app-messages>